 @import "reset.css";

/* Reser Config */



/* Content */

a:hover {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
}

.out-container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: #DFD7CA;
    color: #000;
    min-width: 350px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 20px;
    text-transform: uppercase;
}

.title-text {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 20px;
}

.text {
    line-height: 18px;
    font-style: italic;
    padding: 0 40px 15px;
    text-align: justify;
}


/* Header */

.header {
    background-image: url(../img/bg.jpg);
    background-size: contain;
    color: #fff;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo{
    font-size: 22px;
    height: 40px;
    line-height: 40px;
}

.nav__link {
    display: inline-block;
    padding: 0 15px;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    outline: none;

    transition: all 0.2s ease;
}

.nav__link:hover {
    border-radius: 8px;
    background-color: #00000089;
    transition: all 0.2s ease;
}


/* Info block */

.info {
    text-align: center;
    background: #DFD7CA;
}

.info__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__item {
    padding: 10px 0;
}

.bold-text {
    font-weight: 700;
}

.info__img {
    width: 650px;
}



/* Slider block */

.slider {
    text-align: center;
}

.p-o {
    padding: 20px;
}


/* Video block */

.video {
    text-align: center;
}

.video__contant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.contant__item {
    margin: 0 -10px;
    padding: 0 10px;
}


/* Gallery block */

.gallery {
    text-align: center;
}

.gallery__flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.gallery__img {
    padding: 5px 5px;
    width: 200px;
}


/* Footer */

.footer {
    background-image: url(../img/bg.jpg);
    background-size: contain;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    padding: 0 0 20px;
}

.footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: inline-block;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.footer-logo-out {
    display: none;
}

.footer-logo:hover {
    border-radius: 8px;
    background-color: #00000089;
    transition: all 0.2s ease;
}

.logo_img {
    width: 48px;
}

.contacts {
    text-align: left;
}

.contacts-out{
    display: none;
}

.li {
    line-height: 25px;
    transition: all 0.2s ease;
    padding: 0 7px 0 0;

}

.super__link {
    color: #fff;
    outline: none;
    border: none;
    text-decoration: none;
}

.li:hover{
    border-radius: 8px;
    background-color: #00000089;
    transition: all 0.2s ease;
}

.info__li1 {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 18px;
    padding-left: 25px;
    font-size: 16px;

}

.info__li2 {
    background-image: url(../img/address.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 18px;
    padding-left: 25px;
    font-size: 16px;
}

.info__li3 {
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 18px;
    padding-left: 25px;
    font-size: 16px;
}

.interesting {
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.contacts_link {
    width: 32px;
    margin: 0 5px;
    transition: all 0.2s ease;
}

.contacts_link:hover {
    border-radius: 8px;
    background-color: #00000089;
    transition: all 0.2s ease;
}


.b-popup{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top: 5px;
    display: none;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:80%;
    padding:10px;
    background-color: #000000cc;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.inst_p {
    font-size: 56px;
}

.img_a {
    margin: 15px 5px;
    width: 48px;
}

.tik {
    font-size: 26px;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    padding: 15px;

    transition: all 0.2s ease;
}

.tik:hover {
    color: #000;
    background-color: #fff;
    border-radius: 8px;

    transition: all 0.2s ease;
}

.make {
    color: #808080;
    font-size: 20px;
    padding: 40px 0 10px;
}

.interesting_item {
    display: flex;
    flex-direction: column;
    align-content:stretch;
}
















/* Adapive */

@media (max-width: 970px) {
    .out-container {
        max-width: 100%;
    }

    .container {
        max-width: 750px;
    }

    .logo , .nav__link {
        font-size: 20px;

    }

    .title {
        font-size: 28px;

    }

    .video__contant {
        flex-direction: column;
    }

    .text {
        font-size: 20px;
        line-height: 22px;
    }

    .title-text {
        font-size: 24px;
    }

    .all::after {
        width: 400px;
    }

    .gallery__img {
        width: 260px;
    }

    .videoyt {
        padding-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .container {
        max-width: none;
    }

    .title {
        font-size: 28px;
    }

    .video__contant {
        flex-direction: column;
    }

    .text {
        font-size: 24px;
        padding: 0 10px 15px;
    }

    .title-text {
        font-size: 28px;
    }

    .all::after {
        width: 250px;
    }

    .info__img {
        width: 430px;
    }

    .gallery__img {
        width: 300px;
    }

    .footer__flex {
        justify-content: space-around;
    }

    .footer-logo {
        display: none;
    }

    .footer-logo-out {
        display: inline;
    }

    .contacts {
        display: none;
    }

    .contacts-out {
        display: inline-block;
    }

    .super__link-out {
        width: 32px;
        margin: 0 5px;
        line-height: 32
    }

    .logo_img {
        width: 55px;
        margin: 0 40px;
    }

    .logo, .nav__link{
        font-size: 14px;
        height: 20px;
        line-height: 20px;
    }

    .nav__link{
       padding: 0 10px;
    }

    .inst_p {
        font-size: 36px;
    }
}


@media (max-width: 520px) {
    .videoyt {
        width: 320px;
        height: 180px;
    }

    .gallery__img {
        width: 320px;
    }

    .footer__links {
        margin-left: 0px;
    }

    .super__link-out {
        width: 28px;
        margin: 0 5px;
    }

    .contacts_link {
        width: 28px;
    }

    .title {
        font-size: 26px;
    }
    .text {
        font-size: 20px;
    }

    .logo, .nav__link{
        font-size: 12px;
    }

    .footer__flex {
        justify-content: center;
    }

    .logo_img {
        margin: 0;
    }
}

@media (max-width: 460px) {
    .info__img {
        width: 350px;
    }

    .super__link-out {
        width: 22px;
    }

    .contacts_link {
        width: 22px;
    }

    .logo, .nav__link{
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .super__link-out {
        margin: 0 5px;
    }

    .title {
        font-size: 22px;
    }

    .text {
        font-size: 18px;
    }

    .logo, .nav__link{
        font-size: 10px;
    }
}
